<div class="item">
    <!--<i class="large cloud middle aligned icon"></i>-->
    <!--<div class="content">-->
        <!--<a class="header" event-click="chooseCollection">{title}</a>-->
    <!--</div>-->

    <button class="medium ui button">{title} </button>
</div>
