<div>
	<h4 class="">List Collection</h4>
    <div{childNodesElement} class="ui relaxed divided list"/>
     <div{page} b:hide="{loading}"/>

  <div b:show="{loading}" class="ui active inverted dimmer">
    <div class="ui text loader">Загрузка</div>
  </div>

</div>

