<div>
	<h4>List Collection</h4>
	<div class="alert alert-info" b:show="{loading}">загружается...</div>
    <div{childNodesElement} class="ui relaxed divided list"/>
     <div{page} b:hide="{loading}"/>
</div>

