<b:define name="active" from="selected" type="bool"/>
<a{collection} class="item {active}" event-click="click">{title}
<i class="remove icon" event-click="remove"></i>
<i class="write icon" event-click="rename"></i>
</a>

