.ui.container {
    width: 80%;
  }

.json_area{
    margin-bottom: 2%;
}
.container {
  width: 80%;
  margin-top: 5%;
}
.ui.fluid.accordion{
    max-width: 70%;
    margin-left: 25%;
}
div.jsoneditor-tree{
    min-height: 300px;
}
div.jsoneditor-menu{
    background-color: #e8e8e9;
    border-bottom: 1px solid #ffffff;
}
div.jsoneditor {
    border: 1px solid #dededf;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}