<b:style src="./layout.css"/>

<div class="">
  <div b:show="{loading}" class="ui active loader"></div>
  <div b:hide="{loading}"  class="ui vertical menu left floated ">
    <div class="item">
      <div class="header">List collection</div>
      <div{childNodesElement} class="menu"/>
    </div>
  </div>
  <div b:show="{contentCollection}" class="ui">
    <div class="center aligned two column row" style="margin-left: 30%">
      <div b:show="{loadingDoc}" class="ui active loader"></div>
        <code class="json_area"></code>
    </div>
  </div>
</div>

