<b:style src="./layout.css"/>

<div>
  <!--{modalCreateCol}-->
  <div b:show="{loading}" class="ui active loader"></div>
  <div b:hide="{loading}"  class="ui vertical menu left floated">
    <div class="item">
      <i class="plus icon create" event-click="createCollection"></i>
      <div class="header">List collection</div>
      <div{childNodesElement} class="menu"/>
    </div>
  </div>
  <div b:show="{documentReady}" class="ui">
    <div class="center aligned two column row" style="margin-left: 30%">
      <div b:show="{loadingDoc}" class="ui active loader"></div>
        <div class="json_area"></div>
        <button class="ui secondary button" event-click="saveEditor">Okay </button>
        <button class="ui button" event-click="destroyEditor">Cancel </button>
    </div>
  </div>
</div>

