{
  "create": {
    "appName": "Tiedot",
    "path": {
      "type": "src/app/type",
      "typeIndex": "src/app/type.js",
      "module": "src/module"
    },
    "templates": [
      "./lib/scripts/templates"
    ]
  },
  "build": {
    "file": "index.html",
    "output": "build"
  },
  "server": {
    "port": 8001,
    "rewrite": {
      "^/api/(.*)$": "http://example.com/api/$1 [P, QSA]"
    }
  }
}
