<b:define name="active" from="selected" type="bool" xmlns:b="http://www.w3.org/1999/html"/>

<b:style>
    .ui.modal{
    margin: 0 0px 0px -300px;
    top:25%;
    }
</b:style>

<div class="ui {active} modal">
    <div class="header">Create collection</div>
    <div class="content">
        <p>Name collection</p>
        <div class="ui input">
            <input{input} type="text" value="{oldInput}" data-oldInput="{oldInput}" placeholder="name collection" disabled="{disabled}">
        </div>
    </div>
    <div class="actions">
        <div class="ui approve button" event-click="save">Save</div>
        <div class="ui cancel button" event-click="cancel">Cancel</div>
    </div>
</div>