<b:style src="./layout.css"/>

<div class="">
  <div class="ui right aligned grid">
    <div class="left floated right aligned  wide column">
      <div{childNodesElement} class="ui vertical pointing menu "/>
    </div>

    <div class="left floated right aligned six wide column middle aligned ">
      <!--{content}-->
    </div>
  </div>
</div>