<b:style src="./layout.css"/>

<div class="">
  <!--<div class="ui right aligned grid">-->
    <!--<div class="left floated right aligned  wide column">-->
      <!--<div{childNodesElement} class="ui vertical pointing menu "/>-->
    <!--</div>-->

    <!--<div class="left floated right aligned six wide column middle aligned ">-->
      <!--&lt;!&ndash;{content}&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
  <div class="ui vertical menu ">
    <div class="item">
      <div class="header">List collection</div>
      <div class="menu">
        <a class="item">Enterprise</a>
        <a class="item">Consumer</a>
        <a class="item">Rails</a>
        <a class="item">Python</a>
        <a class="item">PHP</a>
      </div>
    </div>
  </div>
</div>

