<b:style src="./layout.css"/>

<div class="">
  <div class="ui vertical menu left floated ">
    <div class="item">
      <div class="header">List collection</div>
      <div{childNodesElement} class="menu"/>
    </div>
  </div>
  <div b:show="{contentCollection}" class="ui">
    <!--{documents}-->
    <!--<div class="ui styled fluid accordion">-->
      <!--<div class="title"><i class="dropdown icon"></i> Что такое собака? </div>-->
      <!--<div class="content">-->
        <!--<p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>

